<div class="container">
  <div class="row">
    <div class="col">
      <div class="search_container">
        <%= form_tag research_flats_path, method: :get, class: 'form-inline' do %>
        <div id="search_field">
          <div>Planete</div>
          <%= text_field_tag :planet, params[:planet], placeholder: "Search for a planet" %>
        </div>
        <div id="search_field">
          <div>Number of travallers</div>
          <%= text_field_tag :number_of_guests, params[:number_of_guests], placeholder: "Number of guests" %>
        </div>
        <div>
          <%= submit_tag "GO", class: 'search_btn' %>
        </div>
      <% end %>

      </div>




    <div class="d-flex flex-row">
      <% @flats.each do |flat| %>
        <%= link_to flat_path(flat.id), :action => 'go' do %>
          <div class="card" style="width: 18rem;">
          <img src="<%= asset_path('villa.png') %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title"><%= flat.name %></h4>
            <p class="card-text"><%= flat.planet %></p>
            <div class="card-bottom">
              <i class="fa-solid fa-euro-sign"></i><%= flat.price %> / Nights
              <br>
              <i class="fa-solid fa-user-group"></i><%= flat.number_of_guests %> Travelers max
            </div>
          </div>
        <% end %>
      </div>
     <% end %>
    </div>

  <div class="col text-end">
    <button type="button" class="btn btn-dark">
      <li><%= link_to "Add your flat",  new_flat_path(@flat) %></li>
    </button>
  </div>

      </div>
    </div>
  </div>
</body>
