<div class="container">
  <%= simple_form_for [@flat] do |f| %>
    <%= f.input :name, placeholder: 'Enter the name of your flat' %>
    <%= f.input :planet, placeholder: 'Enter the planet where your flat is located' %>
    <%= f.input :description, placeholder: 'Enter a description' %>
    <%= f.input :price, placeholder: 'Enter the price per nigth' %>
    <%= f.input :number_of_guests, placeholder: 'Enter the number of guests your flight can welcome' %>
    <%= f.submit %>
  <% end %>
</div>
