<div class="container">
  <div class="row">
    <div class="col">


  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path('map.jpg') %>)">
  </div>
  <div class="container">
  <div class="card-body col-6 mb-3" style="position: relative; top: -100px;">
    <h1 class="card-title"><%= @flat.name %></h1>
    <p class="card-text"><%= @flat.planet %></p>
  </div>
  <div class="card-body col-6 mb-3" style="position: relative; top: -100px;">
    <h2 class="card-title">A bit more about this flat...</h2>
    <p class="card-text"><%= @flat.description %></p>
  </div>
  <div class="card-body col-6 mb-3" style="position: relative; top: -100px;">
    <h2 class="card-title">Details</h2>
    <i class="fa-solid fa-euro-sign"></i><%= @flat.price %>
    <i class="fa-solid fa-user-group"></i><%= @flat.number_of_guests %>
  </div>
</div>






    </div>
  </div>
</div>
