  <div class="container">
    <div class="row">
      <div class="col">
        <div class="show-header">
          <div>
            <h1 class="card-title"><%= @flat.name %></h1>
          </div>
          <div class="undertitle-info">
            <div class="undertitle-info-item">
              Planete : <%= @flat.planet %>
            </div>
            <div class="undertitle-info-item">
              For <%= @flat.number_of_guests %> travelers
            </div class="undertitle-info-item">
            <div>
              Price : <%= @flat.price %>€
            </div>
          </div>
        </div>
      </div>
      <div class="show-img" style="background-image:  url(<%= asset_path('villa.png') %>)">
      </div>

      <div class="show-card-body col-6 mb-3">
        <p class="card-text"><%= @flat.description %></p>
      </div>


      <div class="col text-end">
        <button type="button" class="btn btn-dark">
          <%= link_to "Create a booking",  new_flat_booking_path(@flat) %>
        </button>
      </div>


    </div>
  </div>
</div>
