<div class="container">
  <div class="row">
    <div class="col">
      <div class="show-header">
        <h2>Your bookings as a tenant</h2>
        <div class="d-flex flex-row">
          <% @bookings_as_tenant.each do |booking| %>
            <div class="card" style="width: 18rem;">
              <% if booking.flat.images.attached? %>
                <%= image_tag url_for(booking.flat.images.first), class: 'card-img-top', alt: 'Flat Image' %>
              <% else %>
                <p>No image available</p>
              <% end %>
              <div class="card-body">
                <h4 class="card-title"><%= booking.flat.name %></h4>
                <p class="card-text"><%= booking.flat.planet %></p>
                <h3>Booking Details</h3>
                <p>Arrival Date: <%= booking.arrival_date %></p>
                <p>Departure Date: <%= booking.departure_date %></p>
                <p>Status: <%= booking.status.capitalize %></p>
                <% if booking.status == 'pending' %>
                  <%= link_to 'Approve', approve_flat_booking_path(booking.flat, booking), method: :put, class: "search_btn" %>
                  <%= link_to 'Reject', reject_flat_booking_path(booking.flat, booking), method: :put,  class: "search_btn" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <h2>Bookings for your flats</h2>
        <div class="d-flex flex-row">
          <% @bookings_as_owner.each do |booking| %>
            <div class="card" style="width: 18rem;">
              <% if booking.flat.images.attached? %>
                <%= image_tag url_for(booking.flat.images.first), class: 'card-img-top', alt: 'Flat Image' %>
              <% else %>
                <p>No image available</p>
              <% end %>
              <div class="card-body">
                <h4 class="card-title"><%= booking.flat.name %></h4>
                <p class="card-text"><%= booking.flat.planet %></p>
                <h3>Booking Details</h3>
                <p>Arrival Date: <%= booking.arrival_date %></p>
                <p>Departure Date: <%= booking.departure_date %></p>
                <p>Status: <%= booking.status.capitalize %></p>
                <% if booking.status == 'pending' %>
                  <%= link_to 'Approve', approve_flat_booking_path(booking.flat, booking), method: :put, class: "search_btn" %>
                  <%= link_to 'Reject', reject_flat_booking_path(booking.flat, booking), method: :put,  class: "search_btn" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
